html,body{
    margin:0px;
    padding:0px;
    text-align:center;
}

.imageList {
    display: flex;
    flex-direction:column;
    /* to remove the vertical space between list elements*/
    font-size:0px;
    padding:0px;

}
.imageList li {
    list-style: none;
    list-style-type:none;
}

.animalImage {
    width: 100%;
    height: 100%;
}