<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Home Page - Animal.Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The home page of my website" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <script src="/js/site.js"></script>
</head>
<body>
    @*<span id="topMenu">
        <div></div>
        <div></div>
        <div></div>
    </span>*@
    <nav role="navigation">
        <div id="menuToggle">
            <!--
            A fake / hidden checkbox is used as click reciever,
            so you can use the :checked selector on it.
            -->
            <input type="checkbox" />

            <!--
            Some spans to act as a hamburger.

            They are acting like a real hamburger,
            not that McDonalds stuff.
            -->
            <div></div>
            <div></div>
            <div></div>

            <!--
            Too bad the menu has to be inside of the button
            but hey, it's pure CSS magic.
            -->
            <ul id="menu">
                <a href="/"><li>Home</li></a>
                <a href="/slides"><li>Slides</li></a>
            </ul>
        </div>
    </nav>
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
