@page "{index?}"
@model SlidesModel


@if (Model.Animals != null && Model.Index >= 0) {
    var index = Model.Index;
    if (index < 0 || index >= Model.Animals.Count) {
        index = 0;
    }
    var currentAnimal = Model.Animals[index];
    if (currentAnimal != null) {
        <a class="textOverLeft verticalLink" href="/slides/@(index-1)"><</a>
        
        <span ontouchstart="HandleImageTap(this.children[1]);">
            <img id="fullpageimage" src="@currentAnimal.ImageFull" alt="@currentAnimal.Name" />
            <audio style="visibility:hidden;display:none;max-width:0">
                <source src="@currentAnimal.Audio" />
            </audio>
            <span class="animalName">@currentAnimal.Name</span>
        </span>
        <a class="textOverRight verticalLink" href="/slides/@(index+1)">></a>
    }
}



@section scripts{
}

