@page
@model IndexModel

<ul class="imageList">
    @foreach (var animal in Model.Animals)
    {
        <li>
            @{var images = Model.GetImagesFor(animal); }

            <picture>
                <source media="(max-width: 640px)" srcset="/media-resized/@images[0]">
                <source media="(max-width: 768px)" srcset="/media-resized/@images[1]">
                <source media="(max-width: 1024px)" srcset="/media-resized/@images[2]">
                <source media="(max-width: 1366px)" srcset="/media-resized/@images[3]">
                <source media="(max-width: 1600px)" srcset="/media-resized/@images[4]">
                <img class="animalImage" src="/media-resized/@animal.ImageFull" alt="Image">
            </picture>
        </li>
    }
</ul>



<a asp-page="UpdateApp">Update app</a>