html, body {
    height: 100%;
    width:100%;
    font: 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding:0;
    border:0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

img, span {
    display:block;
    float:left;
}

.verticalLink {
    
}
#fullpageimage {
    display: block;
    margin: auto;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
.textOverLeft {
    position: absolute;
    top: 50px;
    left: 0;
    text-decoration: none;
    font-size: 80px;
    color: lightgrey;
}
.textOverRight {
    position: absolute;
    top: 50px;
    right: 100px;
    text-align: right;
    text-decoration: none;
    font-size: 80px;
    color:lightgrey;
}