@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<img src="/media/alligator.jpg"/>
<img src="/media/alligator.jpg?w=200" />
<img src="/media/alligator.jpg?w=100&h=200&mode=max" />